/* This file will hold the main styles for your website. */

/*
 * General
 */

/* Typography */

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


/* Colors */

body {
  color: #666666;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: #11a4ce;
}


/*
 * By page section
 * /

/* Header */

#zone-branding-wrapper {
  background: #52bad8; /* Old browsers */
  background: -moz-linear-gradient(top,  #52bad8 0%, #fcfcfc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52bad8), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #52bad8 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #52bad8 0%,#fcfcfc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #52bad8 0%,#fcfcfc 100%); /* IE10+ */
  background: linear-gradient(top,  #52bad8 0%,#fcfcfc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52bad8', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}

.logo-img {
  float: left;
}

.site-name {
  display: none;
}

.site-name-slogan {
  float: right;
  margin: 30px 20px 0 0;
}

h6.site-slogan {
  color: #fff;
  font-size: 1.75em;
}

.sossa-connect {
  background: #e2f3f8;
  border: 1px solid #cccccc;
  border-bottom: none;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px; 
  float: right;
  margin: -5.4em 3% 0 0;
  padding: 1em 1em .5em 1em;
  text-transform: uppercase;
  width: 15em;
  z-index: -2;
  
  -webkit-box-shadow: 0px 0px 7px #cccccc;
  -moz-box-shadow: 0px 0px 7px #cccccc;
  box-shadow: 0px 0px 7px #cccccc; 
  
  background: #e6f5fa; /* Old browsers */
  background: -moz-linear-gradient(top,  #e6f5fa 0%, #cce1eb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f5fa), color-stop(100%,#cce1eb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e6f5fa 0%,#cce1eb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e6f5fa 0%,#cce1eb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e6f5fa 0%,#cce1eb 100%); /* IE10+ */
  background: linear-gradient(top,  #e6f5fa 0%,#cce1eb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f5fa', endColorstr='#cce1eb',GradientType=0 ); /* IE6-9 */
}

.sossa-connect img {
  float: left;
  margin: 0 10px 0 0;
}

.sossa-connect .connect-img {
  margin: 0 .2em 0 0;
}

.sossa-connect .connect-text {
  margin: 0 0 0 105px;
}


/* Main menu */

.block-main-menu .block-title {
  display: none;
}

.block-main-menu .menu {
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 2.5em;
  
  -webkit-box-shadow: 0px 0px 8px #e9e9e9;
  -moz-box-shadow: 0px 0px 8px #e9e9e9;
  box-shadow: 0px 0px 8px #e9e9e9; 
  
  background: #f8f8f8; /* Old browsers */
  background: -moz-linear-gradient(top,  #f8f8f8 0%, #ffffff 51%, #f8f8f8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(51%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ffffff 51%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f8f8f8 0%,#ffffff 51%,#f8f8f8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f8f8f8 0%,#ffffff 51%,#f8f8f8 100%); /* IE10+ */
  background: linear-gradient(top,  #f8f8f8 0%,#ffffff 51%,#f8f8f8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}

.block-main-menu a,
.menu-name-main-menu a {
  color: #666666;
}

.block-main-menu a.active,
.block-main-menu a.active-trail,
.menu-name-main-menu a.active {
  background: #e1f3f8;
  border-left: 1px solid #ccc;
  color: #11a4ce;
}

.block-main-menu ul li {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 16.5%;
}

.block-main-menu li a {
  border-right: 1px solid #ccc;
  display: block;
  margin: 0;
  padding: .5em 0;
  width: 100%;
}

.block-main-menu li.last a {
  border-right: none;
}

/* Main submenu */

.zone-menu {
  margin: 0 0 3em 0;
}

.block-main-menu li.expanded ul {
  display: none;
}

.block-menu-block-1 .block-title {
  display: none;
}

.menu-name-main-menu.menu-level-2 ul {
  background: #e1f3f8;
  border-bottom: 1px solid #ccc;
  padding: .5em 0 0 0;
  height: 2em;
}

.menu-name-main-menu.menu-level-2 li {
  float: left;
  list-style: none;
  padding: 0 2%;
  margin: 0;
  text-align: center;
}


/* Sidebars */

.region-sidebar-second {
  margin-top: .75em;
}

.region-sidebar-second .block-title,
.region-postscript-second .block-title,
.block .block-title {
  font-size: 2.2em;
  font-weight: normal;
}


/* Footer */

#zone-footer-wrapper {
  border-top: 1px solid #cddadf;
  margin-top: 2em;
  padding-top: 2em;
  
  background: #d1dfe3; /* Old browsers */
  background: -moz-linear-gradient(top,  #d1dfe3 0%, #e6f5fa 14%, #e2f3f8 42%, #c6e1ef 73%, #9fcbe3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1dfe3), color-stop(14%,#e6f5fa), color-stop(42%,#e2f3f8), color-stop(73%,#c6e1ef), color-stop(100%,#9fcbe3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d1dfe3 0%,#e6f5fa 14%,#e2f3f8 42%,#c6e1ef 73%,#9fcbe3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d1dfe3 0%,#e6f5fa 14%,#e2f3f8 42%,#c6e1ef 73%,#9fcbe3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d1dfe3 0%,#e6f5fa 14%,#e2f3f8 42%,#c6e1ef 73%,#9fcbe3 100%); /* IE10+ */
  background: linear-gradient(top,  #d1dfe3 0%,#e6f5fa 14%,#e2f3f8 42%,#c6e1ef 73%,#9fcbe3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1dfe3', endColorstr='#9fcbe3',GradientType=0 ); /* IE6-9 */
}


/* Postscript */

.zone-postscript {
  border-top: 1px solid #e6e6e6;
  margin: 1.5em 0 0 0;
  padding: 2.5em 0 0 0;
}


/* Footer menu */

.block-menu-footer-menu {
  margin-top: 1em;
}

.block-menu-footer-menu .block-title {
  display: none;
}

.block-menu-footer-menu a {
  color: #666666;
}

.block-menu-footer-menu ul li {
  list-style: none;
  float: left;
  margin: 0;
}

.block-menu-footer-menu ul li a {
  display: block;
  font-weight: bold;
  margin: .5em 0;
  width: 13em;
}


/* Newsletter signup section */

.block-mailchimp-lists .form-type-item .description {
  display: block;
  font-size: 1em;
  padding-top: .5em;
}

.block-mailchimp-lists .form-type-item label {
  display: none;
}

.block-mailchimp-lists .form-item {
  
}

.block-mailchimp-lists .form-item input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.block-mailchimp-lists .form-item input#edit-mailchimp-lists-mailchimp-1-mergevars-email {
  
}


/* Copyright section */

.region-footer-third {
  border-top: 1px solid #4d4d4d;
  font-size: .9em;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  text-align: center;
}


/*
 * Specific sections and pages
 */

/* About page */

.context-about .region-content-inner {
  background-color: #e1f3f8;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 0 2em 0;
  padding: 1em 1.5em;
}


/* Community page */

.context-community .region-content-inner #page-title,
.context-community .region-content-inner .tabs {
  display: none;
}

.context-community .region-content-inner .block-views-stories-block-1 {
  background: #e1f3f8;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 0 2em 0;
  padding: 1em 1.5em;
}

.context-community .read-more {
  display: block;
  text-align: right;
}

.context-community .read-more a {
  background: #666666;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: .9em;
  padding: .55em 1em;
  text-transform: uppercase;
}

.community-sidebar h4 {
  font-weight: normal;
}


/*
 * Reusable styles
 */

/* Gray border */

.gray-border-rounded {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 0 2em 0;
  padding: 1em 1.5em;
}


/* 
 * Section title block */
 
/* General */

.section-title-block {
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.5em;
  margin: 0 0 2.25em 0;
  padding: 0 0 .75em 0;
}

.section-title-block .block-title {
  display: inline;
  font-size: 3em;
  padding: .25em 0 50px 0;
}

.section-title-block .block-title span {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: .25em .8em;
}

.section-title-block .block-title-wrapper {
  padding: 10px 0 60px 0;
}

/* Blue title */

.section-title-block.blue .block-title span {
  background: #26acd2;
}

.section-title-block.blue .block-title {
  background: transparent url(../images/title-blue-2.png) no-repeat 1em 100%;
  color: #bfe6f2;
}

/* Green title */

.section-title-block.green .block-title span {
  background: #57bf65;
}

.section-title-block.green .block-title {
  background: transparent url(../images/title-green-1.png) no-repeat 1em 100%;
  color: #cdecd2;
}

/* Orange title */

.section-title-block.orange .block-title span {
  background: #f89d3e;
}

.section-title-block.orange .block-title {
  background: transparent url(../images/title-orange-1.png) no-repeat 1em 100%;
  color: #ffdebe;
}


/*
 * Text colors */

/* Blue */

.blue-text,
.blue-text a,
a.blue-text {
  color: #009dca;
}


/* Green */

.green-text,
.green-text a,
a.green-text {
  color: #39b44a;
}


/* Orange */

.orange-text,
.orange-text a,
a.orange-text {
  color: #f48120;
}


/*
 * Misc. */

/* Hide */

.hide {
  display: none;
}
